<section id="resume" class="section resume pp-scrollable" data-navigation-tooltip="RESUME">
    <div class="display-table">
        <div class="display-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-wrapper">
                            <span>My Resume</span>
                        </div>
                        <div class="title-content">
                            <h2 class="base-color">My Resume</h2>
                        </div>
                    </div>
                </div>
                <!--    TimeLine Start   -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="resume-title text-center">
                            <h3 class="text-dark">Education</h3>
                            <div class="border-style"></div>
                        </div>
                        <div class="timeline-items box-border">
                            <!--    Item 01   -->
                            <div class="timeline-item">
                                <div class="timeline-icon"></div>
                                <div class="timeline-contents">
                                    <div class="time-line-header">
                                        <h6 class="timeline-title">Short Diploma In Computer Science</h6>
                                        <p class="timeline-year">2017 - 2019</p>
                                    </div>
                                    <div class="timeline-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare.</p>
                                    </div>
                                </div>
                            </div>
                            <!--    Item 02   -->
                            <div class="timeline-item">
                                <div class="timeline-icon"></div>
                                <div class="timeline-contents">
                                    <div class="time-line-header">
                                        <h6 class="timeline-title">BA Studied at National University of Bangladesh</h6>
                                        <p class="timeline-year">2019</p>
                                    </div>
                                    <div class="timeline-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-5 mt-lg-0">
                        <div class="resume-title text-center">
                            <h3 class="text-dark">Experience</h3>
                            <div class="border-style"></div>
                        </div>
                        <div class="timeline-items box-border">
                            <!--    Item 01   -->
                            <div class="timeline-item">
                                <div class="timeline-icon"></div>
                                <div class="timeline-contents">
                                    <div class="time-line-header">
                                        <h6 class="timeline-title">.Net Developer & Programmer at Sahara IT</h6>
                                        <p class="timeline-year">2019 - 2020</p>
                                    </div>
                                    <div class="timeline-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare.</p>
                                    </div>
                                </div>
                            </div>
                            <!--    Item 02   -->
                            <div class="timeline-item">
                                <div class="timeline-icon"></div>
                                <div class="timeline-contents">
                                    <div class="time-line-header">
                                        <h6 class="timeline-title">Web\App Developer at Excellent-IT</h6>
                                        <p class="timeline-year">2020</p>
                                    </div>
                                    <div class="timeline-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--    TimeLine End   -->
                <!--  Skill Start  -->
                <div class="row mt-5">
                    <div class="col-lg-12 mb-3 resume-title">
                        <h3 class="text-dark text-center">My <span class="base-color">Skills</span></h3>
                        <div class="border-style"></div>
                    </div>
                    <div class="col-lg-12">
                        <div class="skill-boxes box-border">
                            <div class="row">
                                <!-- Skill -->
                                <div class="col-lg-6">
                                    <div class="skill-box">
                                        <div class="skillbar clearfix" data-percent="95%">
                                            <div class="skillbar-title"><span>HTML</span></div>
                                            <div class="skillbar-bar fill-skillbar"></div>
                                            <div class="skill-bar-percent">95%</div>
                                        </div>
                                        <div class="skillbar clearfix " data-percent="85%">
                                            <div class="skillbar-title"><span>CSS</span></div>
                                            <div class="skillbar-bar fill-skillbar"></div>
                                            <div class="skill-bar-percent">85%</div>
                                        </div>
                                        <div class="skillbar clearfix" data-percent="75%">
                                            <div class="skillbar-title"><span>PHP</span></div>
                                            <div class="skillbar-bar fill-skillbar"></div>
                                            <div class="skill-bar-percent">75%</div>
                                        </div>
                                        <div class="skillbar clearfix" data-percent="75%">
                                            <div class="skillbar-title"><span>javascript</span></div>
                                            <div class="skillbar-bar fill-skillbar"></div>
                                            <div class="skill-bar-percent">75%</div>
                                        </div>
                                        <div class="skillbar clearfix" data-percent="80%">
                                            <div class="skillbar-title"><span>wordpress</span></div>
                                            <div class="skillbar-bar fill-skillbar"></div>
                                            <div class="skill-bar-percent">80%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="skill-box">
                                        <div class="skillbar clearfix " data-percent="85%">
                                            <div class="skillbar-title"><span>Laravel</span></div>
                                            <div class="skillbar-bar fill-skillbar"></div>
                                            <div class="skill-bar-percent">85%</div>
                                        </div>
                                        <div class="skillbar clearfix" data-percent="55%">
                                            <div class="skillbar-title"><span>Django</span></div>
                                            <div class="skillbar-bar fill-skillbar"></div>
                                            <div class="skill-bar-percent">55%</div>
                                        </div>
                                        <div class="skillbar clearfix" data-percent="30%">
                                            <div class="skillbar-title"><span>NodeJs</span></div>
                                            <div class="skillbar-bar fill-skillbar"></div>
                                            <div class="skill-bar-percent">30%</div>
                                        </div>
                                        <div class="skillbar clearfix" data-percent="50%">
                                            <div class="skillbar-title"><span>VueJS</span></div>
                                            <div class="skillbar-bar fill-skillbar"></div>
                                            <div class="skill-bar-percent">50%</div>
                                        </div>
                                        <div class="skillbar clearfix" data-percent="40%">
                                            <div class="skillbar-title"><span>Flutter</span></div>
                                            <div class="skillbar-bar fill-skillbar"></div>
                                            <div class="skill-bar-percent">40%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--   Skill End   -->
            </div>
        </div>
    </div>
</section>