<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  {% load static %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:url" content="https://mehedihasan.dev/" />
  <meta property="og:image" content="{% static 'img/hero-personal-man.png' %}"/>
  <meta property="og:image:secure_url" content="{% static 'img/hero-personal-man.png' %}" />
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="200">
  <meta property="og:image:height" content="200">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Canonical SEO -->
  <link rel="canonical" href="https://mehedihasan.dev" />
  <title>Mehedi Hasan | Full-Stack Web/App Developer & Programmer.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="mehedi_hasan Programmer hasan Personal Template MsITXpress" />
  <meta name="keywords" content="Mehedi Hasan,ProgrammerHasan, 'mehedi_hasan',programmer hasan, msitxpress, Resume,01625568604, nirjoyphotography, programmerhasan" />
  <meta name="author" content="ProgrammerHasan" />
  <meta name="E-mail" content="programmerhasan04@gmail.com" />
  <meta name="Website" content="msitxpress.com" />
  <!-- favicon -->
  <link rel="shortcut icon" href="{% static 'img/hero-personal-man.png' %}">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,500&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;700&amp;display=swap" rel="stylesheet">
  <!-- All Css -->
  <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/color.css' %}" rel="stylesheet" id="option-opt">
  <link href="{% static 'css/main.css' %}?v=01" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#scrollspy" data-offset="1" class="msx-dark flat-demo">
    <!--  Pre Loader  -->
    <div id="overlayer"></div>
    <span class="loader"></span>
    <!-- Portfolio Single Modal Start -->
    <div class="portfolio-single modal fade" id="portfolio-single" tabindex="-1" role="dialog" aria-labelledby="portfolioModalScrollable" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content text-muted">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="portfolioModalScrollable">My Work</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="pt-4 pb-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-10 mx-auto">
                                    <div class="text-center">
                                        <h2 class="mb-3">Single <span class="base-color"> Portfolio</span></h2>
                                        <p class="max-width-450">In a professional context it often happens that private clients corder a publication to be made.</p>
                                    </div>
                                    <div class="row contact-info mt-5">
                                        <div class="col-md-4">
                                            <div class="text-center">
                                                <div>
                                                    <h6>Created by:</h6>
                                                    <p class="mb-0">Programmer Hasan</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 p-title-border mt-3 mt-md-0">
                                            <div class="text-center">
                                                <div>
                                                    <h6 class="contact_detail-title">Completed on:</h6>
                                                    <p class="mb-0">May 10, 2020</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-3 mt-md-0">
                                            <div class="text-center">
                                                <div>
                                                    <h6>Skills:</h6>
                                                    <p class="mb-0">HTML5 / PHP / CSS3</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-5">
                                        <div class="portfolio-single-item image-border">
                                            <img src="{% static 'img/portfolio/2.jpg' %}" class="d-block" alt="...">
                                        </div>
                                    </div>
                                    <div class="text-md-left mt-5">
                                        <p class="my-3">These words are here to provide the reader with a basic impression of how actual text will appear in its final presentation. This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. These words are here to provide the reader with a basic impression of how actual text will appear in its final presentation. Only for show.</p>
                                        <p class="mt-3 mb-0">These words are here to provide the reader with a basic impression of how actual text will appear in its final presentation. This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. These words are here to provide the reader with a basic impression of how actual text will appear in its final presentation. Only for show.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Portfolio Single Modal End  -->

    <!-- Blog Single Modal Start -->
    <div class="blog-single modal fade" id="blog-single" tabindex="-1" role="dialog" aria-labelledby="blogModalScrollable" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="blogModalScrollable">Write Your Dreams</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--   Blog-single   Start -->
                    <div class="pt-4 pb-5 text-muted">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 mx-auto blog">
                                    <div class="rounded px-lg-5">
                                        <div class="text-md-left">
                                            <h4 class="mb-4">The best way to become a good web designer</h4>
                                            <div class="image-border">
                                                <img src="{% static 'img/blog-01.jpg' %}" alt="">
                                            </div>
                                            <span class="d-inline-block py-4"> 1 April 2020
                                        / By <span class="purple-color text-right"> Programmer Hasan. </span>
                                        </span>
                                            <p>These words are here to provide the reader with a basic impression of how actual text will appear in its final presentation. This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. These words are here to provide the reader with a basic impression of how actual text will appear in its final presentation. Only for show.</p>
                                            <div class="px-md-5 px-3 py-4 quotation">
                                                <i class="base-color lni-quotation size-md"></i>
                                                <h6 class="base-color font-italic mb-0">We Love Buna, lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper.</h6>
                                            </div>
                                            <p class="my-3">These words are here to provide the reader with a basic impression of how actual text will appear in its final presentation. This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. These words are here to provide the reader with a basic impression of how actual text will appear in its final presentation. Only for show.</p>
                                            <ul class="list-unstyled mt-4 checkmark-list">
                                                <!-- Item-01 -->
                                                <li class="mb-2">
                                                    <span class="ml-1">The purpose of lorem ipsum is to create</span>
                                                </li>
                                                <!-- Item-02 -->
                                                <li class="mb-2">
                                                    <span class="ml-1">In particular, the garbled words of lorem ipsum</span>
                                                </li>
                                                <!-- Item-03 -->
                                                <li class="mb-2">
                                                    <span class="ml-1">occasionally circumstances occur in which toil</span>
                                                </li>
                                            </ul>

                                            <!--Blog Reply-->
                                            <div class="contact mt-4">
                                                <div class="contact-form">
                                                    <h2 class="text-left mb-4">Leave a reply</h2>
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-lg-6 form-item">
                                                                <div class="form-group">
                                                                    <input name="name" id="blog-name" type="text" class="form-control" placeholder="Your Name*" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 form-item">
                                                                <div class="form-group">
                                                                    <input name="email" id="blog-email" type="email" class="form-control" placeholder="Your Email*" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 form-item">
                                                                <div class="form-group">
                                                                    <textarea name="comments" id="blog-comments" rows="4" class="form-control" placeholder="Your message..."></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 mt-4 text-left">
                                                                <div class="button-border">
                                                                    <button type="submit" class="pill-button" id="blog-submit-btn">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Blog Single Modal End  -->

    <div id="pagepiling" class="pilling-page">
        <!-- Social -->
        <div class="social-box">
            <div class="follow-label">
                <span>Follow Me</span>
            </div>
            <div class="social">
                <a href="https://facebook.com/ProgrammerHasan04"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/Mehedihasan_04"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/ProgrammerHasan"><i class="fa fa-github"></i></a>
                <a href="https://linkedin.com/ProgrammerHasan"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>

        <!--   Header Start -->
        <header>
            <div class="logo-area">
                <a href="#hero" class="logo">
                    <img src="{% static 'img/logo.png' %}" alt="" width="120">
<!--                    <span>Programmer<span class="base-color">Hasan</span></span>-->
                </a>
            </div>
            <div class="header-info-area">
                <a class="overlay-menu-toggler lni-menu size-md" href="javascript:void(0);"></a>
            </div>
        </header>
        <!--   Header End   -->

        <!--    Overlay Menu Start    -->
        <div class="overlay-menu bg-blue py-3 px-4 text-center center-item">
            <!-- Overlay Menu -->
            <div id="scrollspy" class="overlay-menu-list">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto overlay-nav">
                            <ul class="list-group text-left" id="myMenu">
                                <li data-menuanchor="hero" class="list-group-item"><a href="#hero">Home</a></li>
                                <li data-menuanchor="client" class="list-group-item"><a href="#testimonial">Client</a></li>
                                <li data-menuanchor="about" class="list-group-item"><a href="#about">About me</a></li>
                                <li data-menuanchor="services" class="list-group-item"><a href="#services">Services</a></li>
                                <li data-menuanchor="portfolio" class="list-group-item"><a href="#portfolio">Portfolio</a></li>
                                <li data-menuanchor="blog" class="list-group-item"><a href="#blog">Blog</a></li>
                            </ul>
                            <ul class="list-group contact-info text-left mb-0">
                                <li class="list-group-item"><span>Contact Info :</span></li>
                                <li class="list-group-item"><span><i class="lni-map-marker"></i> Brahmanbaria, Dhaka</span></li>
                                <li class="list-group-item"><span><i class="lni-phone-handset"></i> +880 162-556-8604</span></li>
                                <li class="list-group-item"><span><i class="lni-envelope"></i>programmerhasan04@gmail.com</span></li>
                                <li class="list-group-item"><span>Follow me :</span></li>
                                <li class="list-group-item">
                                    <ul class="list-inline socails">
                                        <li class="list-inline-item"><a href="https://facebook.com/ProgrammerHasan04"><i class="lni-facebook-filled"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                                        <li class="list-inline-item"><a href="https://github.com/ProgrammerHasan"><i class="lni-github-original"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="lni-linkedin-original"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    Overlay Menu End    -->

          <!--  Hero Start  -->
          <section id="hero" class="section pp-scrollable  hero-03">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 order-2 order-lg-1">
                                <div class="hero-content">
                                    <h1 class="dark-color mb-3">I'M <span class="base-color"> Mehedi Hasan</span></h1>
                                    <h4 class="text-darktext-capitalize mb-0"><span class="base-color">A  </span> <span class="element" data-elements="Web/App Developer.,Web Designer.,Web Developer."></span></h4>
                                    <p class="text-muted my-4">Obviously I'M Web Designer & Developer and .Net Developer,YouTuber. Web Developer with over 3 years of experience. Experienced with all stages of the development cycle for dynamic web projects.Actually I am lover of Technology. For the last 7 years I have been in the virtual online world.I can't think a single minute without coding and programming. I know nothing but I know not little. So, Coding and Programming are everything in my life because I get pleasure in those. I’m not a great web developer and programmer,I’m just a good web developer and programmer with great habits. I don’t know anything but i know a lot. I’m thirsty for learn more code.</p>
                                    <div class="button-border mt-2">
                                        <a href="javascript:void(0);" class="pill-button">Download Cv</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2">
                                <div class="hero-image">
                                    <div class="square">
                                        <img src="{% static 'img/element_square.png' %}" alt="/">
                                    </div>
                                    <div class="circle"></div>
                                    <div class="circle-2"></div>
                                    <div class="circle-3"></div>
                                    <div class="floating"></div>
                                    <div class="personal-image rounded-circle">
                                        <img src="{% static 'img/hero-personal-man.png' %}" alt="/" class="rounded-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                        <!--animation-->
                            <div class="ms-wel-reetings">
                                <div class="before"></div>
                                <div class="after"></div>
                            </div>
                        <!--end animation-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Hero End  -->

        <!--   About Start   -->
        <section id="about" class="section pp-scrollable about" data-navigation-tooltip="ABOUT ME">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-wrapper">
                                    <span>About Me</span>
                                </div>
                                <div class="title-content">
                                    <h2 class="base-color">About Me</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="image-border">
                                    <img src="{% static 'img/about-03.jpg' %}" alt="/">
                                </div>
                            </div>
                            <div class="col-lg-6 mt-4 mt-lg-0">
                                <div class="personal-item ">
                                    <h3 class="text-dark mt-4 mt-lg-0"><span class="base-color">Full-Stack Web\App</span> Developer</h3>
                                    <div class="row">
                                        <div class="col-6 personal-info">
                                            <ul class="list-unstyled pt-4">
                                                <li>
                                                    <p>Birthday : <span> 1 April 19**</span></p>
                                                </li>
                                                <li>
                                                    <p>Website : <span> <a href="https://programmerhasan.info">programmerhasan.info</a> </span></p>
                                                </li>
                                                <li>
                                                    <p>Phone : <span> +880 162 556 8604</span></p>
                                                </li>
                                                <li>
                                                    <p>City : <span> B.Baria, Dhaka</span></p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-6 personal-info">
                                            <ul class="list-unstyled pt-4">
                                                <li>
                                                    <p>Age : <span> 20</span></p>
                                                </li>
                                                <li>
                                                    <p>Degree : <span> Master</span></p>
                                                </li>
                                                <li>
                                                    <p>Mail : <span> programmerhasan04@gmail.com</span></p>
                                                </li>
                                                <li>
                                                    <p>Freelance : <span> Available</span></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-border mt-3 mb-lg-0 mr-4">
                                    <a href="javascript:void(0);" class="pill-button">Download Cv</a>
                                </div>
                                <div class="button-border mt-3 mb-lg-0 to-contact">
                                    <a href="#contact" class="pill-button">Hire Me</a>
                                </div>
                            </div>
                        </div>
                        <!-- Count up Start -->
                        <div id="count-up" class="count-up text-center box-border">
                            <div class="row">
                                <!-- Item-01 -->
                                <div class="col-6 col-lg-3 my-3 count-item">
                                    <div class="count-icon">
                                        <i class="lni-download base-color"></i>
                                    </div>
                                    <div class="my-3">
                                        <span class="timer count-number" data-from="0" data-to="286" data-speed="5000">0</span>
                                    </div>
                                    <p class="mb-0">Files Download</p>
                                </div>
                                <!-- Item-02 -->
                                <div class="col-6 col-lg-3 my-3 count-item">
                                    <div class="count-icon">
                                        <i class="lni-pencil-alt base-color"></i>
                                    </div>
                                    <div class="my-3">
                                        <span class="timer count-number" data-from="0" data-to="249" data-speed="5000">0</span>
                                    </div>
                                    <p class="mb-0">Project Done</p>
                                </div>
                                <!-- Item-03 -->
                                <div class="col-6 col-lg-3 my-3 count-item">
                                    <div class="count-icon">
                                        <i class="lni-medall  base-color"></i>
                                    </div>
                                    <div class="my-3">
                                        <span class="timer count-number" data-from="0" data-to="13" data-speed="5000">0</span>
                                    </div>
                                    <p class="mb-0">Get Award</p>
                                </div>
                                <!-- Item-04 -->
                                <div class="col-6 col-lg-3 my-3 count-item">
                                    <div class="count-icon">
                                        <i class="lni-emoji-smile base-color"></i>
                                    </div>
                                    <div class="my-3">
                                        <span class="timer count-number" data-from="0" data-to="186" data-speed="5000">0</span>
                                    </div>
                                    <p class="mb-0">Happy Client</p>
                                </div>
                            </div>
                        </div>
                        <!--  Count up End  -->
                    </div>
                </div>
            </div>
        </section>
        <!--    About End    -->

        <!--    Resume Start   -->
        {% include 'partials/resume.html' %}
        <!--     Resume End    -->

        <!--  Service Start  -->
        {% include 'partials/service.html' %}
        <!--   Service End   -->

        <!-- Portfolio Start -->
        {% include 'partials/portfolio.html' %}
        <!--  Portfolio End  -->

        <!-- Testimonial Start -->
        <section id="testimonial" class="section pp-scrollable testimonial" data-navigation-tooltip="CLIENT">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-wrapper">
                                    <span>Client Says</span>
                                </div>
                                <div class="title-content">
                                    <h2 class="base-color">Client Says</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="owl-carousel">
                                    <!-- Testimonial Item-01 -->
                                    <div class="testimonial-item box-border">
                                        <div class="testimonial-image">
                                            <div class="testimonial-image-border">
                                                <img src="{% static 'img/client-01.jpg' %}" alt="/">
                                            </div>
                                        </div>
                                        <p class="mb-0 mt-3 text-muted">" In a professional context it often happens that private or corporate clients corder a publication to be made.In a professional context it often happens that private or corporate clients corder a publication to be made. "</p>
                                        <span class="d-block font-weight-bold text-dark mt-3">Hasan Ahamed, <small class="text-muted">Seo Management</small></span>
                                    </div>
                                    <!-- Testimonial Item-02 -->
                                    <div class="testimonial-item box-border">
                                        <div class="testimonial-image">
                                            <div class="testimonial-image-border">
                                                <img src="{% static 'img/client-02.jpg' %}" alt="/">
                                            </div>
                                        </div>
                                        <p class="mb-0 mt-3 text-muted">" In a professional context it often happens that private or corporate clients corder a publication to be made.In a professional context it often happens that private or corporate clients corder a publication to be made. "</p>
                                        <span class="d-block font-weight-bold text-dark mt-3">K.M Akash, <small class="text-muted">Marketing Head</small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Testimonial End  -->


        <!--  Blog Start  -->
        {% include 'partials/blog.html' %}
        <!--   Blog End   -->

        <!-- Contact Start -->
        <section id="contact" class="section pp-scrollable contact" data-navigation-tooltip="CONTACT">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-wrapper">
                                    <span>Get In Touch</span>
                                </div>
                                <div class="title-content">
                                    <h2 class="base-color">Get In Touch</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row contact-info">
                            <div class="col-lg-4">
                                <div class="contact-info-text text-center">
                                    <div class="base-color">
                                        <i class="lni-phone-handset size-md"></i>
                                    </div>
                                    <div class="mt-3">
                                        <h5 class="text-dark mb-0">Call Us On</h5>
                                        <small class="text-muted">+880 1625 568 604</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="contact-info-text text-center">
                                    <div class="base-color">
                                        <i class="lni-map-marker size-md"></i>
                                    </div>
                                    <div class="mt-3">
                                        <h5 class="text-dark mb-0 contact_detail-title">Visit Office</h5>
                                        <small class="text-muted">B.Baria Sadar</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="contact-info-text text-center">
                                    <div class="base-color">
                                        <i class="lni-pointer size-md"></i>
                                    </div>
                                    <div class="mt-3">
                                        <h5 class="text-dark mb-0">Email Us At</h5>
                                        <small class="text-muted"><a href="">Programmer Hasan</a></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mt-5 contact-form">
                                <form id="contactForm">
                                    <div class="row">
                                        <div class="col-lg-6 form-item">
                                            <div class="form-group">
                                                <input name="name" id="name" type="text" class="form-control" placeholder="Your Name*" required >
                                            </div>
                                        </div>
                                        <div class="col-lg-6 form-item">
                                            <div class="form-group">
                                                <input name="email" id="email" type="email" class="form-control" placeholder="Your Email*" required >
                                            </div>
                                        </div>
                                        <div class="col-12 form-item">
                                            <div class="form-group">
                                                <input name="subject" id="subject" type="text" class="form-control" placeholder="Your Subject*" required >
                                            </div>
                                        </div>
                                        <div class="col-12 form-item">
                                            <div class="form-group">
                                                <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message..."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mt-4 text-left">
                                            <div class="button-border">
                                                <a href="javascript:void(0)" class="pill-button" id="submit-btn" onclick="sendEmail()">Send Message</a>
                                            </div>
                                            <div id="message" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4000" >
                                                <div class="toast-body d-inline-block"></div>
                                                <button type="button" class="pr-3 close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true" class="lni-close size-xs "></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row copy-right">
                            <div class="col-12 text-center text-dark">
                                <p> © 2020 <span class="base-color">Ms It Xpress</span>. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Contact End  -->
        <!--   Color Scheme  -->
        <a class="color-scheme text-danger bg-base-color d-inline-block" href="javascript:void(0)" style="border: 3px solid #fff3cd;"><i class="lni-sun"></i></a>
        <a class="color-scheme color-scheme-light text-danger bg-base-color d-none" href="javascript:void(0)" style="border: 3px solid #000000;"><i class="lni-night"></i></a>
    </div>
    <!-- All JavaScripts  -->
    <script src="{% static 'js/app.js' %}"></script>
    <!--  Custom JS  -->
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>